.Footer{
    width: 100%;
    color: black;
    min-width: 600px;
}
.foot{
    height: 20rem;

}
.contact{
    padding-left: 2%;
}
.follow{
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-items: flex-end;
    padding-left: 2%;
}
.icon{
    display: flex;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    padding-left: 2%;
}